<div>
  <form novalidate class="form-horizontal" name="loginForm" role="form">

    <div class="container">
      <!-- 用户名 -->
      <div class="form-group" ng-class="loginForm.username.$valid | hasSuccessOrError:'has-success':'has-error' ">
        <label class="col-sm-2 control-label" for="username">用户名</label>
        <div class="col-sm-4">

          <input id="username" name="username" class="form-control" type="text"
                 ng-model="username" validate-username-exist required>
          <div class="help-block has-validation-error" ng-messages="loginForm.username.$error"
               role="alert" ng-if="loginForm.username.$dirty" ng-cloak>
            <div ng-message="required">请输入</div>
            <div ng-message="validateUsernameExist">用户名已注册</div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="loginForm.email.$valid | hasSuccessOrError:'has-success':'has-error'">
        <label class="col-sm-2 control-label" for="email">邮箱</label>
        <div class="col-sm-4">

          <input id="email" name="email" class="form-control" type="email"
                 ng-model="email" required validate-email-exist/>

          <div class="help-block has-validation-error" ng-messages="loginForm.email.$error"
               role="alert" ng-if="loginForm.email.$dirty" ng-cloak>
            <div ng-message="required">请输入</div>
            <div ng-message="email">请输入有效的邮箱</div>
            <div ng-message="validateEmailExist">邮箱已注册</div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="loginForm.password.$valid | hasSuccessOrError:'has-success':'has-error'">
        <label class="col-sm-2 control-label" for="password">密码</label>
        <div class="col-sm-4">

          <input id="password" name="password" class="form-control" type="password"
                 ng-model="password" required minlength="6"/>

          <div class="help-block has-validation-error" ng-messages="loginForm.password.$error"
               role="alert" ng-if="loginForm.password.$dirty" ng-cloak>
            <div ng-message="required">请输入</div>
            <div ng-message="minlength">密码至少6位</div>
          </div>
        </div>
      </div>

      <div class="form-group"
           ng-class="loginForm.confirmPassword.$valid | hasSuccessOrError:'has-success':'has-error'">
        <label class="col-sm-2 control-label" for="confirmPassword">重复密码</label>
        <div class="col-sm-4">

          <input id="confirmPassword" name="confirmPassword" class="form-control" type="password"
                 ng-model="confirmPassword" minlength="6" required equal-to="gg"/>

          <div class="help-block has-validation-error" ng-messages="loginForm.confirmPassword.$error"
               role="alert" ng-if="loginForm.confirmPassword.$dirty" ng-cloak>
            <div ng-message="required">请输入</div>
            <div ng-message="minlength">密码至少6位</div>
            <div ng-message="equalTo">两次密码输入不相同</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <a ng-disabled="!loginForm.$valid" class="btn btn-primary" ng-click="submitSignUp()">提交</a>
        </div>
      </div>

    </div>
  </form>
</div>