<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">首页</a>
      </div>
      <div>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control"/>
            <button type="submit" class="btn btn-default">搜索</button>
          </div>
        </form>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">日报</a></li>
            <li><a ui-sref="login">登录</a></li>
            <li><a ui-sref="signUp">注册</a>
            <li><a ui-sref="createPost">新建文章</a></li>
            <li class="active">
              <a ui-sref="viewUser">用户管理</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- 面包屑导航 -->
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li><a href="#">2013</a></li>
      <li>
        <a href="#"></a>十二月
      </li>
      <li></li>
    </ol>
  </div>

  <!-- 内容正文区 -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>文章</h4>
          </div>
          <div class="panel-body" ng-cloak>
            <div ng-repeat="post in posts">
              <div class="post-card clearfix">
                <div class="post-pic clearfix">
                  <a href="/post/{{ post.id }}">
                    <img ng-src="{{post.image}}">
                  </a>
                </div>
                <div>
                  <div>
                    <a href="/view_news/{{ post.id }}">{{ post.title }}</a>
                  </div>
                  <div>
                    <span>{{ post.createTime | date:'yyyy-MM-dd' }}</span>
                  </div>
                  <div>
                    <p>{{ post.summary}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <ul first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页" uib-pagination
                total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"
                class="pagination-sm" boundary-links="true" force-ellipses="true">
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-3">未完待续</div>
    </div>
  </div>
</div>